@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* @layer base {
  img {
    @apply max-w-full h-auto;
  }
} */

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

@layer components {  
  
  .neon-box {
    --neon-dark-color: var(--dynamic-color, #f70);
    --neon-light-color: var(--dynamic-color, rgb(0, 21, 255));
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 25px var(--neon-light-color),
      /* 0 0 30px #f70, */
      0 0 30px var(--neon-light-color),
      inset 0 0 15px var(--neon-light-color);

    @variant dark {
      box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 25px var(--neon-dark-color),
      /* 0 0 30px #f70, */
      0 0 30px var(--neon-dark-color),
      inset 0 0 15px var(--neon-dark-color);
    }
  }
  
  .neon-text {
    --neon-color: var(--dynamic-color, #f70);

    color: #000;
    text-shadow:
      0 0 1px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px var(--neon-color),
      /* 0 0 30px #f70, */
      0 0 40px var(--neon-color),
      0 0 80px var(--neon-color),
      0 0 100px var(--neon-color);

    @variant dark {
      color: #fff;
      text-shadow:
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px var(--neon-color),
        /* 0 0 30px #f70, */
        0 0 40px var(--neon-color),
        0 0 80px var(--neon-color),
        0 0 100px var(--neon-color);
    }
  }

  .circle-icon {
    @apply w-auto h-auto p-1 items-center justify-center flex rounded-ee-lg rounded-tr-lg bg-gray-600 dark:bg-gray-500;
  }
}






.bitcount-grid-double-400 {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
